!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='//d7zeocn4055cf.cloudfront.net/static/bootstrap-2.3.2/css/style.css')
  body
    block body
